/*Colors pallete made with paletton.com

#D9FE8F
#CCF678
#ADD360
#5F7435
#14180C


*/
   


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Meyer's margin resetter*/
a:link{
	text-decoration: none;
}
a:visited{
	border-right:0.1875em solid #ADD360;
}
a:hover{
	border-left:0.1875em solid #D9FE8F;
}
a:active{
	background-color:white;
}
address{
	background-image: url('pics/footer_960_180.jpg');
	border-bottom:1px;
	position:fixed;
	height:35px;
	bottom:0px;
	width:960px;
}
aside{
	background-color:#ABEAC5;
	width:220px;
	border:1px solid black;
}
body{
	background-color:#14180C;
	font-family: arial helvetica sans-serif;
}
header{
	position: fixed;
	width: 960px;
}
nav{
	width:210px;
}
nav li a{
	background-color:#14180C;
	border-bottom:0.1em solid orange;
	border-top:0.1em solid orange;
	color:#D9FE8F;
	display:block;
	font-family:monospace;
	font-size: 2em;
	font-weight:900;
	height:1.3em;
	margin-bottom:0.75em;
	padding-left:0.5em;
	padding-top:0.2em;
	width:9em;
}
#leftcolumn{
	background-color:#D9FE8F;
	border: 1px solid #CCF678;
	border-radius:10px;
	color:#14180C;
	float:left;
	margin:197px 10px 45px 20px;
	padding:2em 0 2em 0;
	position: fixed;
	width:15.0em;
	overflow:hidden;
}
#rightcolumn{
	background-color:#D9FE8F;
	border: 1px solid #CCF678;
	border-radius:10px;
	color:#14180C;
	float:right;
	letter-spacing:0.05em;
	margin:197px 20px 50px 288px;
	overflow:hidden;
	padding:2em;
	width:36.6em;
}
#rightcolumn h1{
	border-bottom:0.1em solid orange;
	border-top:0.1em solid orange;
	background-color: #14180C;
	border-radius: 0.1875em;
	color:#D9FE8F;
	font-size:2em;
	font-weight:900;
	font-family: monospace;
	height: 1.15em;
	margin-bottom:1em;
	padding:0.25em;
	text-shadow: 0.04em 0.004em 0px #14180C;
	width: 22em;
}

#rightcolumn p{
	font-size:1em;
	line-height:1.3em;
}
#wrapper{
	border-left: 0.0625em solid orange;
	border-right: 0.0625em solid #D9FE8F;
	background-color:#5F7435;
	float:left;
}
#wrappercenter{
	margin:auto;
	width:60em;
}
.boxshadow{
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 1em #14180C;
}




